﻿<h1>
    @Model.Book.Nombre
</h1>

<h3>Comentarios</h3>
@foreach (var item in Model.Comentarios)
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Pepito</h5>
            <h6 class="card-subtitle mb-2 text-muted">21 Abril 2021 18:04</h6>
            <p class="card-text">@item.Detalle</p>
            <a href="#" class="card-link">
                Like
            </a>
            <a href="#" class="card-link">Dislike</a>
        </div>
    </div>

}


@if (User.Identity.IsAuthenticated)
{
    <h3>Añade un comentario</h3>
    <form method="post" action="https://localhost:44346/book/addcomentario?BookId=@Model.Book.Id">

        <div class="form-group">
            <textarea class="form-control" id="Comentario" rows="10" cols="100" name="Detalle" required></textarea>
            @Html.ValidationMessage("Detalle")
            <br />

            <button class="btn btn-primary">Enviar</button>
        </div>
    </form>
}


@section Scripts {
    <script>
        $('#Comentario').summernote();
    </script>
}