﻿

<form action="/venta/create" method="post">

    <input type="text" name="CompradorId" placeholder="Comprador" />
    <input type="datetime-local" name="FechaVenta" />

    <br />
    <select id="biblioteca">
        <option value="1">Libro 1</option>
        <option value="2">Libro 2</option>
        <option value="3">Libro 3</option>
    </select>

    <button id="add">Añadir</button>

    <br />

    <div id="contenedor">

    </div>

    @*
        <input type="text" value="1" name="libros[0].LibroId" />
    <input type="text" value="23.90" name="libros[0].Precio" />

    <input type="text" value="2" name="libros[1].LibroId" />
    <input type="text" value="45.90" name="libros[1].Precio" />

    <input type="text" value="2" name="libros[2].LibroId" />
    <input type="text" value="45.90" name="libros[2].Precio" />*@

    <button>Guardar</button>

</form>

@section Scripts{

<script>

    var contador = 0;

    $('#add').click(function (e) {
        e.preventDefault();
        var libro = $('#biblioteca').val();

        var html = `<input type="text" value="${libro}" name="libros[${contador}].LibroId" />
                    <input type = "text" value = "23.90" name = "libros[${contador}].Precio" />
                    <br>`;

        contador++;
        $('#contenedor').append(html);
    })

</script>


}