﻿

<form action="/adminbook/edit?id=@Model.Id" enctype="multipart/form-data" method="post">

    <input type="text" name="Nombre" value="@Model.Nombre" />

    <input type="file" name="File" accept=".jpg,.png" />
    <img src="@Model.Caratula" alt="Alternate Text" />

    <button>Guadar</button>

</form>