﻿@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 text-center mb-3 bt-3">
        <div class="card">
            <div class="card-title">
                <h3>@item.Nombre</h3>
                <br />
                @*<ul>
                @foreach (var autor in item.LibroAutores)
                {
                    <li>@autor.Autor.Nombre</li>
                }
            </ul>*@
            </div>
            <a href="https://localhost:44346/book/detalle?id=@item.Id">
                <img src="@item.Caratula" height="200" />
            </a>

            @if (User.Identity.IsAuthenticated)
            {
            @*<form action="/book/favorito?id=@item.Id" method="post">
                <button>Favorito</button>
            </form>*@
            }
            <br />
            <form action="/book/like?id=@item.Id" method="post">
                <button class="btn btn-link BtnLike">Like</button>
            </form>
            <span class="me-2 ContadorLikes">@item.Likes.Count</span>
        </div>

    </div>
    }
</div>

@section Scripts {
    <script>
        var $btnLike = $('.BtnLike');
        $btnLike.click(function (e) {

            var $this = $(this);

            e.preventDefault();

            // // tengo que hacer un request ==> AJAX
            //// "/book/like" => post;

            // enviar request
            var request = jQuery.ajax({
                url: $this.closest('form').attr('action') , // como obtengo el número
                type: 'post'               
            });


            // usar response
            request.done(function (r) {
                var $contador = $this.closest('.card').find('.ContadorLikes');
                $contador.text(r);
            });

        });
    </script>
}
